/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0ece6;
    color: #5c5346;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 98%;
    background: #f4fcff;
    color: #5c5346;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
}

.logo img {
    margin: auto;
    height: 40px;
    width: auto;
    object-fit: contain;
}

.logo a {
    margin-left: 10px;
    flex-grow: 1;
    text-decoration: none;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #5c5346;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #8d7d6e;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #5c5346;
    margin: 5px;
}

main {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    padding-bottom: 100px;
}

section {
    margin: 20px 0;
}

footer {
    background: #d8c7b0;
    color: #5c5346;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-top: 20px;
}

.slider {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    z-index: 2;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.slides img {
    min-width: 100%;
    height: 70vh;
    object-fit: cover;
    margin-top: 0;
    padding-top: 0;
}

.multi-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 80px;
}

.multi-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 1);
}

.multi-slides img {
    width: 20%;
    min-width: 200px;
    height: 40vh;
    flex-shrink: 0;
    object-fit: cover;
    margin: 2px;
}

#home p {
    margin: auto;
    max-width: 600px;
    text-align: justify;
}

#home h1 {
    font-size: 2rem;
    margin: auto;
    padding: 0 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    max-width: 600px;
}

hr {
    width: 50%;
    margin-bottom: 60px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container p {
    width: 49%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    margin: 5px 20px;
    padding: 5px 15px;
    border: 1px solid burlywood;
    border-radius: 10px;
}

.service img {
    height: 50px;
    margin-top: 0px;
}

.service h3 {
    font-size: 0.9rem;
}

.casa-caracteristics {
    display: flex;
    justify-content: center;
    gap: 10%;
    text-align: left;
    margin-top: 50px;
}

.casa-caracteristics ul {
    margin: auto;
    padding-left: 20px;
    text-align: justify;
}

.casa-caracteristics ul strong {
    color: #a18d71;
    font-weight: 600;
}

.casa-caracteristics ul li {
    color: #5c5346;
    list-style-type: none;
}

.casa-caracteristics ul li:before {
    color: #ac9473;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}

.rooms {
    width: 30%;
}

.equipment {
    width: 30%;
}

li {
    margin-bottom: 10px;
}

.location-container {
    display: flex;
    justify-content: space-evenly;
}

.map {
    width: 40%;
}

.instructions {
    width: 40%;
    text-align: justify;
}

.instructions ol {
    list-style: none;
    counter-reset: item;
}

.instructions ol li {
    counter-increment: item;
    margin-bottom: 10px;
}

.instructions ol li:before {
    content: counter(item) ". ";
    color: #836843;
    font-size: 1.5rem;
    font-weight: bold;
}

.instructions ul li:before {
    content: none;
}

.secondary-button {
    background-color: #5c5346;
    font-weight: 700;
}

.contact {
    min-width: 300px;
    color: white;
    background-color: #755f41;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
}

.contact hr {
    display: none;
}

#escapada-rural {
    margin: auto;
    width: 40%;
    min-width: 300px;
    padding: 20px;
    border: 1px solid wheat;
    border-radius: 6px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    header {
        width: 95%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
    }

    .logo img {
        width: 15%;
        height: 40px;
        object-fit: contain;
    }

    .logo a {
        margin-left: 10px;
        flex-grow: 1;
        text-decoration: none;
        color: black;
    }

    .service img {
        height: 40px;
    }

    nav {
        align-items: flex-start;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 250px;
        background-color: #f4fcff;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: right 0.3s ease;
        z-index: 20;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.nav-active {
        right: 0;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger .line1,
    .burger .line2,
    .burger .line3 {
        width: 25px;
        height: 3px;
        background-color: #5c5346;
        margin: 5px;
        transition: transform 0.3s ease;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .rooms, .equipment, .map, .instructions{ 
        width: 85%; 
    }

    .instructions ol{ 
        padding-left: 0; 
    }

    .contact{
        margin: 0;
        padding: 0
    }
}

@media (max-width: 400px) {

    header {
        padding: 10px 15px;
    }

    .logo {
        font-size: 1.2rem;
    }

    .logo img {
        height: 35px;
    }

    .nav-links li {
        padding: 10px;
    }

    .service {
        width: 30%;
        height: 80px;
        padding: 5px 10px;
        margin: 10px; 
    }

    .service img {
        height: 30px;
    }

    .service h3 {
        font-size: 0.8rem;
    }

    .home-container p,
    #home h1 {
        padding: 0 10px;
        width: 80%; 
    }

    .casa-caracteristics {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80-90%;
    }

    .casa-caracteristics ul {
        padding-left: 10px;
        width: 80-90%;
    }

    .casa-caracteristics ul li {
        margin-bottom: 8px;
    }

    .location-container {
        flex-direction: column;
        align-items: center;
    }

    .map,
    .instructions {
        width: 80-90%;
    }

    .contact {
        padding: 20px;
    }

    #escapada-rural {
        width: 80-90%;
    }

    .multi-slides img {
        width: 100%;
        min-width: 100px;
    }
}
